<nav class="navbar text-success">
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" routerLink="book-category" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.bookCategory">Book Category</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="book-case" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.bookCase">Book Case</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="book-title" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.bookTitle">Book Title</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="card" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.card">Card</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="borrow-book" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.borrowBook">Borrow Book</span>
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="book" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.book">Book</span>
            </a>
        </li>
    </ul>
</nav>