<div class="row justify-content-center mt-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-book-case-heading" jhiTranslate="libaraySystemApp.bookCase.home.createOrEditLabel">Create or edit a Book Case</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libaraySystemApp.bookCase.bookCaseName" for="field_bookCaseName">Book Case Name</label>
                    <input type="text" class="form-control" name="bookCaseName" id="field_bookCaseName"
                           formControlName="bookCaseName"/>
                    <div *ngIf="editForm.get('bookCaseName')!.invalid && (editForm.get('bookCaseName')!.dirty || editForm.get('bookCaseName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bookCaseName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
