<div class="mt-2">
    <h2 id="page-heading">
        <span jhiTranslate="libaraySystemApp.bookCategory.home.title">Book Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-category" [routerLink]="['/book-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="libaraySystemApp.bookCategory.home.createLabel">
            Create a new Book Category
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bookCategories?.length === 0">
        <span jhiTranslate="libaraySystemApp.bookCategory.home.notFound">No bookCategories found</span>
    </div>

    <div class="table-responsive lb-table lb-scroll" id="entities" *ngIf="bookCategories && bookCategories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bookCategoryName"><span jhiTranslate="libaraySystemApp.bookCategory.bookCategoryName">Book Category Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreate"><span jhiTranslate="libaraySystemApp.bookCategory.dateCreate">Date Create</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateUpdate"><span jhiTranslate="libaraySystemApp.bookCategory.dateUpdate">Date Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCreate"><span jhiTranslate="libaraySystemApp.bookCategory.userCreate">User Create</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookCategory of bookCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/book-category', bookCategory.id, 'view']">{{ bookCategory.id }}</a></td>
                    <td>{{ bookCategory.bookCategoryName }}</td>
                    <td>{{ bookCategory.dateCreate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ bookCategory.dateUpdate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ bookCategory.userCreate }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/book-category', bookCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/book-category', bookCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bookCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bookCategories && bookCategories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
